<!DOCTYPE html>
{% load static %}
{% load rest_framework %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX.HTML</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'animate.min.css' %}" />

</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li>User {{user.id}}: {{ user.first_name }} {{user.last_name}}</li>
        {% endfor %}
    </ul>
    <form action="/3/" method="POST">
        <label for="first_name">Your first name: </label>
        <input id="first_name" type="text" name="first_name">
        <label for="last_name">Your last name: </label>
        <input id="last_name" type="text" name="last_name">
        <label for="id">Your id: </label>
        <input id="id" type="text" name="id">

    <input type="submit" value="Add User">
    </form>
</form>
</body>
</html>